__pycache__/
log/
File_Objects/Files/Test/
File_Objects/File_Automation/Renamed_Files/
Standard_Libraries/OS/Test
Standard_Libraries/PIL/Original_Images
Standard_Libraries/PIL/Saved_Images
Standard_Libraries/Shutil/archived_files
Standard_Libraries/Shutil/Images
Standard_Libraries/Zipfile/stackoverflow_survey
Standard_Libraries/Zipfile/Original_Images
Standard_Libraries/Zipfile/zipfiles
Standard_Libraries/Zipfile/extractedfiles
Standard_Libraries/Requests/Images
Standard_Libraries/Smtplib/files
Standard_Libraries/Smtplib/Original_Images
Downloaded_Images
Processed_Images
env



.ipynb_checkpoints

*.pyc
*.pyo
*.log
*.env
*ipynb
Standard_Libraries/PipEnv/requirements.txt
pipfile
pipfile.lock
Standard_Libraries/Pip/requirements.txt
Standard_Libraries/PIL/Capture.png
Standard_Libraries/PIL/Capture.JPG
Standard_Libraries/PIL/Capture2.JPG
Standard_Libraries/Zipfile/data.zip
Data_Mining/*/*.JPG
Data_Mining/*/*.zip
Data_Mining/*/*.rar
