__pycache__/
log/
File_Objects/Files/Test/
File_Objects/File_Automation/Renamed_Files/
Standard_Libraries/OS/Test

*.pyc
*.pyo
*.log
*.env
Standard_Libraries/PipEnv/requirements.txt
pipfile
pipfile.lock